<div class="grid-container">
     <div class="track-headers">
      <div class="header-spacer"></div>
      @for (item of sequencerState.tracks(); track item.name; let trackIndex = $index) {
      <div class="track-header">
        <button (click)="sequencerState.toggleMute(trackIndex)">{{ !item.muted ? 'Mute' : 'Unmute' }}</button>
        <button (click)="sequencerState.toggleSolo(trackIndex)">{{ !item.soloed ? 'Solo' : 'Unsolo' }}</button>
        <div class="grid-cell">{{ item.name }}</div>
      </div>
    }
  </div>

  <div class="steps-wrapper">
            <div class="led-row">
            @for (led of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]; track $index) {
            <div class="led" [class.lit]="scheduler.isPlaying() && $index === scheduler.currentStep()"></div>
            }
        </div>
    @if (scheduler.isPlaying()) {
      <div class="playhead" [style.left.px]="scheduler.currentStep() * 46"></div>
    }
    @for (item of sequencerState.tracks(); track item.name; let trackIndex = $index) {
      <div class="step-row">
        @for (step of item.steps; track $index; let stepIndex = $index) {
          <div class="grid-cell" (click)="sequencerState.toggleClick(trackIndex, stepIndex)" [class.active]="step">{{ step }}</div>
        }
      </div>
    }
  </div>
</div>
