/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #0d0d0d;
    height: 100%;
    margin: 0;
    background: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center
}